.nevbar {
    display: inline-block;
    background-color: aquamarine;
    width: 15%;
    border:3px solid blueviolet;
    text-align: center;
  }
  .logout {
    float:right;
  }
  .nev{
    height: 60px;
    background-color: blueviolet;
  }
  .active{
    background-color: red;
  }
  .name {
    background-color:rgb(190, 185, 185) ;
    width: 20%;
    margin-left: 10%;
  }